.bg_c_green {
  background-color: #4AC261 !important;
}

.c_green {
  color: #4AC261 !important;
}

.bg_c_dgreen {
  background-color: #3D7E5F !important;
}

.c_dgreen {
  color: #3D7E5F !important;
}

.bg_c_black {
  background-color: #000000 !important;
}

.c_black {
  color: #000000 !important;
}

.bg_c_red {
  background-color: #C41D19 !important;
}

.c_red {
  color: #C41D19 !important;
}

.bg_c_lblue {
  background-color: #76B6EC !important;
}

.c_lblue {
  color: #76B6EC !important;
}

.bg_c_lgrey {
  background-color: #CCCCCD !important;
}

.c_lgrey {
  color: #CCCCCD !important;
}

.bg_c_grey {
  background-color: #888888 !important;
}

.c_grey {
  color: #888888 !important;
}

.bg_c_dgrey {
  background-color: #444444 !important;
}

.c_dgrey {
  color: #444444 !important;
}

.bg_c_white {
  background-color: #FFFFFF !important;
}

.c_white {
  color: #FFFFFF !important;
}

.bg_c_navy {
  background-color: #35435B !important;
}

.c_navy {
  color: #35435B !important;
}

.bg_c_orange {
  background-color: #FB8355 !important;
}

.c_orange {
  color: #FB8355 !important;
}
