.generic-button-big {
  padding: 8px;
  width: 200px;
  text-align: center;
  border-radius: 40px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-user-select: none;

  /* Chrome/Safari */
  -moz-user-select: none;

  /* Firefox */
  -ms-user-select: none;

  /* IE10+ */
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}

.generic-button-flexible {
  padding: 8px;
  width: 100%;
  text-align: center;
  border-radius: 40px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-user-select: none;

  /* Chrome/Safari */
  -moz-user-select: none;

  /* Firefox */
  -ms-user-select: none;

  /* IE10+ */
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}

.generic-button-standalone {
  padding: 10px 38px;
  text-align: center;
  border-radius: 40px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-user-select: none;

  /* Chrome/Safari */
  -moz-user-select: none;

  /* Firefox */
  -ms-user-select: none;

  /* IE10+ */
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}

.gb-primary {
  border: solid 2px #A50841 !important;
  background-color: #A50841 !important;
  color: #FFFFFF !important;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.gb-secondary {
  border: solid 2px #858585 !important;
  background-color: #858585 !important;
  color: #FFFFFF !important;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.gb-primary-hollow {
  border: solid 2px #A50841 !important;
  background-color: #fff !important;
  color: #A50841 !important;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.gb-hollow-white {
  border: solid 2px #666666 !important;
  background-color: #fff !important;
  color: #666666 !important;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.gb-transparent-white {
  border: solid 2px #FFFFFF !important;
  background-color: transparent !important;
  color: #FFFFFF !important;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}


.gb-white-red {
  border: solid 2px #FFFFFF !important;
  background-color: #FFFFFF !important;
  color: #A50841 !important;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}


.oval-button-red {
  width: 72px;
  height: 72px;
  border-radius: 36px;
  background-image: linear-gradient(to top, #901717, #ce0f00) !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) !important;

  &:hover {
    background-image: linear-gradient(to top, #800707, #be0000) !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4) !important;
  }
  -webkit-user-select: none;

  /* Chrome/Safari */
  -moz-user-select: none;

  /* Firefox */
  -ms-user-select: none;

  /* IE10+ */
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}

.oval-button-white {
  width: 72px;
  height: 72px;
  border-radius: 36px;
  background-image: linear-gradient(to top, #e8e8e8, #ffffff) !important;

  &:hover {
    width: 72px;
    height: 72px;
    border-radius: 36px;
    background-image: linear-gradient(to top, #e0e0e0, #fafafa) !important;
  }
  -webkit-user-select: none;

  /* Chrome/Safari */
  -moz-user-select: none;

  /* Firefox */
  -ms-user-select: none;

  /* IE10+ */
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}



.button_close {
  cursor: pointer;
  width: 46px;
  height: 46px;
  padding: 8px;
  top: 0px;
  right: 0px;
  position: absolute;

  > .img {
    width: 100%;
    height: 100%;
    background-image: url('../images/close.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}


.table_button {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;

  > * {
    height: 20px;
    line-height: 40px;
    font-size: 20px;
  }
}




.control {
  cursor: pointer;
}