.smaller {
  font-size: 0.85em !important;
}

.larger {
  font-size: 1.2em !important;
}

.font_xsm {
  /*12px*/
  font-size: 0.6em !important;
}

.font_sm {
  /*14px*/
  font-size: 0.7em !important;
}

.font_smed {
  /*15px*/
  font-size: 0.75em !important;
}

.font_smedmed {
  /*16px*/
  font-size: 0.8em !important;
}

.font_med {
  /*18px*/
  font-size: 0.9em !important;
}

.font_lmed {
  /*20px*/
  font-size: 1.0em !important;
}

.font_llmed {
  /*22px*/
  font-size: 1.1em !important;
}

.font_lg {
  /*25px*/
  font-size: 1.25em !important;
}

.font_xlg {
  /*18px*/
  font-size: 1.4em !important;
}

.font_xxlg {
  /*48px*/
  font-size: 2.4em !important;
}
