.bg_c_green {
  background-color: #4AC261 !important;
}

.c_green {
  color: #4AC261 !important;
}

.bg_c_green_2 {
  background-color: #45c45b !important;
}

.c_green_2 {
  color: #45c45b !important;
}

.bg_c_dgreen {
  background-color: #3D7E5F !important;
}

.c_dgreen {
  color: #3D7E5F !important;
}

.bg_c_black {
  background-color: #000000 !important;
}

.c_black {
  color: #000000 !important;
}

.bg_c_red {
  background-color: #C41D19 !important;
}

.c_red {
  color: #C41D19 !important;
}

.bg_c_lblue {
  background-color: #76B6EC !important;
}

.c_lblue {
  color: #76B6EC !important;
}

.bg_c_lgrey {
  background-color: #CCCCCD !important;
}

.c_lgrey {
  color: #CCCCCD !important;
}

.bg_c_grey {
  background-color: #888888 !important;
}

.c_grey {
  color: #888888 !important;
}

.bg_c_grey_2 {
  background-color: #666666 !important;
}

.c_grey_2 {
  color: #666666 !important;
}

.bg_c_dgrey {
  background-color: #333333 !important;
}

.c_dgrey {
  color: #333333 !important;
}

.bg_c_white {
  background-color: #FFFFFF !important;
}

.c_white {
  color: #FFFFFF !important;
}

.bg_c_navy {
  background-color: #35435B !important;
}

.c_navy {
  color: #35435B !important;
}

.bg_c_blue {
  background-color: #4a90e2 !important;
}

.c_blue {
  color: #4a90e2 !important;
}

.bg_c_orange {
  background-color: #f6a623 !important;
}

.c_orange {
  color: #f6a623 !important;
}


.bg_c_orange_red {
  background-color: #f57523 !important;
}

.c_orange_red {
  color: #f57523 !important;
}
